---
layout: default
header: none
---
<!-- Intro -->
<div class="page-content page-banner">
    <div id="particles-js" class="background"></div>
    <div class="title">
        <h2>{{ site.harmony.name }}</h2>
        <p>{{ site.harmony.description }}</p>
    </div>
    <a href="#posts" class="more scrolly">Read More</a>
</div>
<!-- Home -->
<div id="posts" class="page-content page-posts">
    {% if site.harmony.post.timeline %}
        {% include post-timeline.html %}
    {% else %}
        {% include post.html %}
    {% endif %}
</div>

{% if site.harmony.show_particles_background %}
<script src="{{ site.baseurl }}/assets/externals/particles/particles.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom/particles.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/assets/js/pages/index.js"></script>
