---
layout: default
header: none
---
<!-- Intro -->
<div id="intro" class="banner">
    <div id="particles-js" class="background"></div>
    <div class="title">
        <h2>{{ site.harmony.name }}</h2>
        <p>{{ site.harmony.description }}</p>
    </div>
    <a href="#" class="more scrolly">Read More</a>
</div>
<!-- Home -->
<div id="home" class="page-content page-home">
    {% if site.harmony.post.timeline %}
        {% include post-timeline.html %}
    {% else %}
        {% include post.html %}
    {% endif %}
</div>
