<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/pages/post-timeline.css">

<section id="cd-timeline" class="cd-container">
    {% for post in site.posts limit:10 %}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img color{{ forloop.index | modulo:5 }}">
            <i class="fa fa-{% if post.font-awesome %}{{ post.font-awesome }}{% else %}comments{% endif %}"></i>
        </div>
        <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="font-black">{{ post.title }}</a></h2>
            {% if post.categories.size > 0 %}
            <div class="cd-categories">
                {% for category in post.categories %}
                <label class="label label-default">{{ category }}</label>
                {% endfor %}
            </div>
            {% endif %}
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="cd-read-more">Read more</a>
            <span class="cd-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    {% endfor %}
</section>
