<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom/burger.css">

<!-- Navigation -->
<div class="b-nav">
    <li><a class="b-link" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
    <li><a class="b-link" href="#">Search</a></li>
    <li><a class="b-link" href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
    <li><a class="b-link" href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container">
    <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
    </div>

    <!-- Burger-Brand -->
    <!-- <a href="#" class="b-brand">Burger</a> -->
</div>
<script type="text/javascript">
    'use strict';
    (function () {
        var body = document.body;
        var burgerMenu = document.getElementsByClassName('b-menu')[0];
        var burgerContain = document.getElementsByClassName('b-container')[0];
        var burgerNav = document.getElementsByClassName('b-nav')[0];

        burgerMenu.addEventListener('click', function toggleClasses() {
            [body, burgerContain, burgerNav].forEach(function (el) {
                el.classList.toggle('open');
            });
        }, false);
    })();
</script>
